<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My petition 👽</title>
    <link rel="stylesheet" href="/style.css" class="css">
</head>
    <header>
        <h1 id="main-header">Please sign this important petition</h1>
        <p id="header-intro">I know, the Internet is full of petitions, but this one is a very iportant one</p>
    </header>
    <div id="divisory-above"></div>
    {{{body}}}
    {{!-- <div id="divisory-below"></div>
    <footer>
        <p>This is truly mine. All Rights Reserved. Copyrights bla bla bla ©</p>
    </footer> --}}
</html>