<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My petition 👽</title>
    <link rel="stylesheet" href="/style.css" class="css">
</head>
    <header>
        <h1>STOP TOILET PAPER HOARDING...NOW!!!</h1>
        <p>Going to the bathroom is normal. Panic buying isn't</p>
    </header>
    <div id="divisory-above"></div>
    <div class="wrapper">
        {{{body}}}
    </div>
    <div id="divisory-below"></div>
    <footer>
        <p>This is truly mine. All Rights Reserved. Copyrights Stuff bla bla bla ©</p>
    </footer>
</html>