<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My petition 👽</title>
    <link rel="stylesheet" href="/style.css" class="css">
</head>
    <header>
        <div class="header-text-container">
            <a id="to-main" href="/"><h1>STOP TOILET PAPER HOARDING...NOW!!!</h1></a>
            <p>Because going to the bathroom is normal. Panic buying isn't...</p>
        </div>
    </header>
    <div id="divisory-above"></div>
    <div class="wrapper">
        {{{body}}}
    </div>
    <div id="divisory-below"></div>
    <footer>
        <p>This is truly mine. All Rights Reserved. Copyrights Stuff bla bla bla ©</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="./login.js"></script>
</html>