<div class="container" id="login-container">
    <form id="login-form" method="post">
        <input type="email" class="login" name="email">
        <input type="password" class="login" name="password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="submit-login" type="submit">LOG IN</button>
    </form>
</div>