<div class="container">
    <h1 id="petition-text">
        I'm baby exercitation hammock pariatur, knausgaard franzen retro tumeric locavore organic asymmetrical aute messenger bag offal VHS YOLO.
    </h1>
    <img src="/images/my-image.jpg" alt="A random image" id="petition-image"></img>
    <form method="POST" id="name-form">
        <input type="text" name="first" placeholder="First Name">
        <input type="text" name="last" placeholder="Last Name">
        {{!-- <div class="container" id="canvas">
            <canvas>
            </canvas>
        </div> --}}
        {{!-- <h2 id="sign-here">SIGN HERE!</h2> --}}
        <button type="submit">Submit</button>
    </form>
</div>