<h2>NOW YOU ARE READY TO SIGN FOR A NOBLE CAUSE</h2>
<img src="/images/toilet.png" alt="A random image" id="petition-image"></img>
<form method="POST" id="signature-form">
    <h2 id="petition-text">
        I'm baby exercitation hammock pariatur, knausgaard franzen retro.
    </h2>
    <input id="signature-file" type="hidden" name="signature">
        <canvas id="canvas"></canvas>
    </input>
    <button type="submit">SIGN HERE!</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
<div class="edit-profile">
    <a href="/edit">edit profile...</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="./script.js"></script>




{{!-- <img src="/images/my-image.jpg" alt="A random image" id="petition-image"></img> --}}