<h1>THANKS FOR SIGNING!</h1>
<img src="/images/toilet.png" alt="A random image" id="petition-image"></img>
<p>Swag YOLO farm-to-table locavore church-key poutine hella hell of tofu. Viral unicorn et direct trade. Bespoke truffaut locavore austin tacos.</p>
<div class="container">
    <img src="{{sign}}" alt="signature of signer">
</div>
<form method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button name="dltButton">RESET</button>
</form>
<h2>See all <a href="/petition/signed">{{counter}} signers</a></h2>
<div class="edit-profile">
    <a href="/edit">edit profile...</a>
</div>
