<div class="container" id="thanks">
    <h1>THANKS FOR SIGNING!</h1>
    <p>Swag YOLO farm-to-table locavore church-key poutine hella hell of tofu. Viral unicorn et direct trade. Bespoke truffaut locavore austin tacos.</p>
    <img src="/images/my-image.jpg" alt="A random image" id="petition-image"></img>
    <h2>See all {{counts}} signers</h2>
</div>