<h2>Does this dramatic situation sounds familiar???</h2>
<img id="welcome-image" src="/images/toiletp.jpg" alt="Fighting for the paper">
<h2>SIGN THE PETITION. LET'S STOP TOILET PAPER HOARDING!!!</h2>
<p id="introduction">Around the world, in countries afflicted with the coronavirus, stores are sold out of toilet paper. There have been shortages in Hong Kong, Madagascar, Russian, and even Solomon Islands. And we all know who to blame: hoarders and panic-buyers.</p>
<a href="/register">Continue to register</a>