@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amatic SC", cursive;
}

#petition-image {
    width: 600px;
    height: 400px;
}

/* #sign {
    width: 600px;
    height: 200px;
    background-color: pink;
} */