@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* { 
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Amatic SC", cursive; */
    font-family: 'Roboto', sans-serif;

    text-align: center;
}

html {
    height: 100%;
    width: 100%;
}

header {
    height: 150px;
    position: relative;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 0;
}

header p {
    font-size: 25px;
    margin-top: 0;
    font-family: 'Great Vibes', cursive;
    position: relative;
    left: 95px;
}

#divisory-above {
    background-color: black;
    width: 100%;
    height: 5px;
    position: relative;
}
body {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: relative;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    width: 100%;
}

#divisory-below {
    background-color: black;
    width: 100%;
    height: 5px;
    position: relative;
}

footer {
    height: 70px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* GENERAL SETTINGS */

p {
    font-size: 20px;
}

a {
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

form input {
    width: 320px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 10px;
}

form h2 {
    font-size: 40px;
    text-decoration: underline;
    font-weight: 900;
}

form h3 {
    margin: 0;
}

button {
    width: 120px;
    height: 40px;
    background: white;
    color: black;
    border: solid black 3px;
    font-size: 25px;
    font-weight: 900;
    margin-top: 25px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.35s;
}

button:hover {
    background-color: black;
    color: white;
}

img {
    width: 400px;
    height: 300px;
}

.edit-profile a {
    display: block;
    width: 180px;
    height: 40px;
    background: white;
    color: black;
    border: solid black 3px;
    font-size: 25px;
    font-weight: 900;
    margin-top: 25px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.35s;
    text-decoration: none;
}

.edit-profile a:hover {
    background-color: black;
    color: white;
}

#to-main {
    text-decoration: none;
    color: black;
}

/* WELCOME */

#welcome-image {
    height: 400px;
    width: 300px;
    border: 5px solid black;
    border-radius: 5px;
}

#introduction {
    width: 600px;
    word-wrap: normal;
}

/* PETITION PAGE */

canvas {
    border: 3px black solid;
    border-radius: 5px;
    width: auto;
    height: auto;
}

/* REGISTER */

/* LOG IN */

/* USER PROFILE */

#user-profile-form {
    display: flex;
    flex-direction: column;
}

#user-profile-form h2{
    margin: 0;
    text-decoration: none;
    width: 200px;
    width: 350px;
    margin-top: 30px;
}

#input-age {
    width: 100px;
}

#submit-profile {
    width: 185px;
}

/* SIGNED */

ul {
    list-style-type: none;
}

li {
    font-size: 40px;
    text-align: left;
    padding: 5px;
}

span {
    padding-left: 20px;
    padding-right: 20px;
}

.li-container {
    display: flex;
}

.li-container img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 9px;
    left: -20px;
}