@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* { 
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amatic SC", cursive;
}

header {
    height: 150px;
    position: relative;
    width: 100%;
}

#divisory-above {
    background-color: black;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 150px;
}
body {
    height: 100%;
    position: relative;
    width: 100%;
    /* display:grid; */
    /* grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%); */
}

#divisory-below {
    background-color: black;
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 100px;
}

footer {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

/* GENERAL SETTINGS */

form {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
}

form input {
    width: 200px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 10px;
}

form h2 {
    font-size: 40px;
    text-decoration: underline;
}

form h3 {
    margin: 0;
}

button {
    width: 120px;
    height: 35px;
    background: white;
    color: black;
    border: solid black 3px;
    font-size: 25px;
    font-weight: 900;
    margin-top: 25px;
}

/* PETITION PAGE */

#petition-image {
    width: 600px;
    height: 400px;
}


#petition-text {
    grid-row: 1 / 2;
    grid-column: 2 / span 3;
}

#petition-image {
    grid-row: 2 / 4;
    grid-column: 2 / span 3;
}



#canvas-container {
    grid-row: 3;
    margin-top: 10px;
    margin-left: 50px;
    border: 3px black solid;
    border-radius: 5px;
}

/* REGISTER */

#register-container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#register-form {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
}

.registering {
    width: 200px;
    height: 50px;
    font-size: 25px;
    margin-top: 10px;
}

#submit-register {
    background-color: pink;
    color: blue;
    margin-top: 15px;
}

/* LOG IN */

#login-container {
    display: flex;
    flex-direction: column;
}

.login #email, #password {
    width: 200px;
    height: 50px;
    font-size: 30px;
}

#submit-login {
    background-color: pink;
    color: blue
}

/* USER PROFILE */

#user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-profile-form {
    display: flex;
    flex-direction: column;
    width: 150px;
}

#user-profile-form h2{
    margin: 0;
}

input .user-profile {
    width: 200px;
    height: 50px;
    font-size: 30px;
}

#submit-profile {
    background-color: pink;
    color: blue
}

/* SIGNED */

#signed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signed li {
    font-size: 40px;
}